<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new student</title>
</head>
<body>
    <h2>Register new Student</h2>
    <h3>Student information</h3>
    <form action="/student/add_new_student" method="POST">
        <p>name</p>
        <input type="text" name="name" />
        <p>address</p>
        <textarea name="address"></textarea>
        <p>city</p>
        <input type="text" name="city" />
        <p>pin number</p>
        <input type="text" name="pin" />
        <br>
        <input type="submit" value="submit" />
    </form>
</body>
</html>