{% extends "base.html" %}
{% block title %}Create new blog page{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-1">Create New Blog</h1>
    <p><a href="/document">Go back to blog list</a></p>
    <form action="/create_blog" method="POST">
        <label class="form-label">title</label>
        <input type="text" name="title" class="form-control" />
        <label class="form-label">content</label>
        <textarea type="text" name="content" class="form-control" ></textarea>
        <br>
        <input type="submit" value="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}