{% extends "bootstrap/base.html" %}
{% block title %}Edit blog{% endblock %}
{% block content %}
<div class="container">
    <h1>Edit Blog</h1>
    <p><a href="/document">Go back to blog list</a></p>
    <form action="/update/{{ post.id }}" method="POST">
        <label class="form-label">title</label>
        <input type="text" name="title" value="{{ post.title }}" class="form-control" />
        <label class="form-label">content</label>
        <textarea type="text" name="content" class="form-control" >{{ post.body }}</textarea>
        <br>
        <input type="submit" value="update" class="btn btn-primary" />
    </form>
</div>
{% endblock %}