{% extends "base.html" %}
{% block title %}Login page{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
        {{ form.email.label(class="form-label") }}<br>
        {{ form.email(class="form-control") }}<br>

        {{ form.password.label(class="form-label") }}<br>
        {{ form.password(class="form-control") }}<br>

        {{ form.submit(class="btn btn-primary") }}
    </form>
    <p><a href="/signup">Go to Sign-up page</a></p>
</div>
{% endblock %}